# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Test coverage
.nyc_output/
coverage/
report/

# Build and distribution directories
build/
dist/

# Dependency and cache directories
.npm/
node_modules/

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history/

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
.env.test

# Serverless directories
.serverless/
